
nav.page-nav {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 100%;
  }
  
  .breadcrumbs {
    display: flex;
    flex-wrap: wrap;
    column-gap: 0.4em;
  }
  
  .breadcrumbs,
  .menutoggle,
  .menutoggle::after {
    font-family: $font-family-mono;
  }
  
  #about .about-logo .logotype,
  .breadcrumbs .logotype {
    display: inline-block;
    line-height: 1;
    text-transform: uppercase;
    color: $darkest;
    //split from logo
    margin-left: .2em;
  }
  
  #about .about-logo.dark-bg .logotype,
  .dark-bg .breadcrumbs .logotype,
  .breadcrumbs.dark-bg .logotype {
    color: $lightest;
  }
  
  #about .about-logo img.logo[src="/favicon.svg"],
  .breadcrumbs .crumb.root img.logo[src="/favicon.svg"] {
    //NOTE: the object position and width are based on the favicon.svg file. If the file changes, this will have to be updated.
    object-fit: contain;
    object-position: -2.5px 3px;
    width: 20px;
  }
  
  nav.page-nav .menutoggle,
  nav.page-nav .menutoggle a {
    color: $darker;
  }
  
  .dark-bg nav.page-nav .menutoggle,
  nav.page-nav .menutoggle.dark-bg {
    color: $lightest;
  }
  
  nav.page-nav input.menutoggle {
    appearance: initial;
    border: 0;
    margin: 0;
    padding: 0;
    outline: none;
    width: 2rem;
    z-index: 1;
    text-align: center;
    cursor: pointer;
  }
  
  nav.page-nav input.menutoggle::after {
    content: "\2261";
    display: block;
    width: 100%;
    height: 100%;
  }
  
  nav.page-nav input.menutoggle:checked::after {
    content: "\00d7";
  }
  
  nav.menu {
    --nav-menu-gap: 3rem;
    --nav-menu-row-gap: 1em;
    --nav-menu-display: flex;
    display: var(--nav-menu-display);
    flex-wrap: wrap;
    column-gap: var(--nav-menu-gap);
    row-gap: var(--nav-menu-row-gap);
    width: 100%;
    flex: 0 0 100%;
    font-family: $font-family-mono;
    font-size: 1em;
  }
  
  nav.menu.bottom {
    margin-bottom: var(--nav-menu-row-gap);
  }
  
  nav.menu.top {
    padding-top: .5em;
    // padding-bottom: 1em;
    border-top: 1px solid $light;
    // border-bottom: 1px solid $dark;
    display: none;
  }
  
  .dark-bg nav.menu.top,
  .dark-bg nav.menu.top > a {
    color: $lightest;
  }
  
  nav.page-nav input.menutoggle:checked ~ nav.menu.top {
    display: var(--nav-menu-display);
  }
  
  nav.menu .nav-group {
    flex-basis: calc(var(--content-container-multiplier) * 999);
    flex-grow: 1;
    max-width: max-content;
    min-width: calc(20% - var(--nav-menu-gap));
  }
  
  nav.menu .nav-group.gallery {
    min-width: calc(70% - var(--nav-menu-gap));
    max-width: 100%;
  }
  nav.menu .nav-group.about {
    min-width: calc(30% - var(--nav-menu-gap));
    max-width: 100%;
  }
  
  nav.page-nav nav.menu {
    margin-top: 1rem;
  }
  
  nav ul.nav-group {
    list-style-type: none;
    padding: 0;
  }
  
  nav .nav-group {
    display: block;
  }
  
  nav .nav-group > :first-child {
    font-weight: bold;
  }
  
  nav .menu.top {
    justify-content: right;
  }
  
  nav .menu.top .nav-group {
    min-width: auto;
  }
  
  // Keep top nav thin?
  nav .top .nav-group > :first-child {
    font-weight: inherit;
    color: $darkest;
  }
  
  nav .top .nav-group,
  .dark-bg nav.menu.top .nav-group li a {
    color: $lightest;
  }
  
  /* for devices that support hover, be a bit fancier */
  @media (hover: hover) {
    nav.menu.top .nav-group li a {
      text-decoration: none;
      border-bottom: 1px solid transparent;
      transition: border-bottom-color 0.4s ease-in-out;
    }
  
    nav.menu.top .nav-group li a:hover {
      border-bottom-color: inherit;
    }
  }
  