@import "base";
@import "theme";

* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%; /* 62.5 = 10px; */
}

body {
    margin: 0;
    padding: 0;
    font-size: 2.3rem;
    line-height: 1.45;
    background-color: $lighter;
    color: $darker;
}

body,
article.article .content,
article.note .content,
.font-serif {
    /* Berling T is preferred, but not available on TypeKit */
    font-family: $font-family-serif /*"freight-text-pro"*/;
    font-weight: 450;
}

body.dark-bg,
div.body.dark-bg {
    background-color: $darkest;
    color: $light;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $font-family-condensed /*"freight-sans-pro"*/;
    font-weight: 600;
}

// article h1, article h2, article h3, article h4, article h5, article h6  {
//   font-family: $font-family-condensed /*"freight-sans-compressed-pro"*/;
//   font-weight: 600;

// }

footer,
.post-time,
figcaption,
div.archive,
div.blognav,
.collection-list li.archive-link,
.article-list .quote,
.article-list .bookmark,
.content-container .sidebar,
#now .attribution,
.font-sansserif {
    font-family: $font-family-sans /*"freight-sans-pro"*/;
    font-weight: 400;
}

pre,
code,
.font-code {
    font-family: $font-family-mono /*"source-code-pro", monospace*/;
}

h1,
h2,
h3,
h4 {
    margin: 1.414em 0 0.5em;
    line-height: 1.2em;
    color: $darker;
}

h1 {
    font-size: 2.5em;
    line-height: 1em;
}

h2 {
    font-size: 1.5em;
}

.dark-bg h1,
.dark-bg h2,
.dark-bg h3,
.dark-bg h4 {
    color: $lighter;
}

h1 {
    margin-top: 0.5em;
}

p {
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-bottom: 1.3em;
}

a {
    color: $link;
    text-decoration: underline;
}

.dark-bg a {
    color: $link;
}

em {
    font-style: italic;
}

strong {
    font-weight: bold;
}

small,
.font-small,
article footer,
nav.page-nav,
nav.menu,
body > footer {
    font-size: 0.8em;
}

dl {
    // margin-block-start: 1em;
    margin-block-end: 1em;
}

.content-container,
.content-container.normal {
    max-width: 100rem;
}

.content-container.full {
    max-width: 100%;
}

.content-container.narrow {
    max-width: 85rem;
}

/*
  The flexbox switching between multi- and single- column based on viewport width
  is based on [The Flexbox Holy Albatross Reincarnated](https://heydonworks.com/article/the-flexbox-holy-albatross-reincarnated).
  It relies on setting flex-basis for each flex item such that it either falls at
  the desired width (as specified by flex-grow) or 100% (--content-container-multiplier).
*/
.content-container {
    /* 60rem is picked as arbitrary number when we consider the viewport too "narrow" */
    --content-container-multiplier: calc(60rem - 100%);
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;

    margin-left: auto;
    margin-right: auto;
    //pad so narrow viewport edges don't touch the content text.
    //TODO: why isn't this part of <main>?
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.content-container.columns {
    --content-container-columns-column-gap: 1rem;
    column-gap: var(--content-container-columns-column-gap);
}

body > footer.content-container {
    justify-content: start;
    column-gap: 1rem;
}

body > footer .footer-item {
    // body > footer is context-container, which uses flex layout
    flex-grow: 0;
    flex-basis: min-content;
}

body > footer .footer-item.copyright {
    flex: 1 1;
    text-align: right;
}

@import "nav";
@import "footer";
@import "layout";

body > header {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

body > footer {
    margin: 3em 0 2em 0;
    color: $light;
}

body.dark-bg > footer,
div.body.dark-bg > footer {
    color: $dark;
}

body > footer a,
body.dark-bg > footer a,
div.body.dark-bg > footer a {
    color: inherit;
}

body > footer a:hover {
    color: $darkest;
}

body.dark-bg > footer a:hover,
div.body.dark-bg > footer a:hover {
    color: $lightest;
}

body > footer {
    border-top: 1px solid;
    padding-top: 1em;
}

section {
    margin-top: 1em;
    margin-bottom: 2em;
}

figure {
    margin: 0;
    padding: 0;
}

article > figure {
    margin-top: 1em;
}

figure img {
    width: 100%;
    height: auto;
}

figure figcaption {
    margin-top: -0.3em;
    font-style: italic;
    font-size: 0.8em;
    color: $dark;
}

.inline.icon {
    width: 1em;
    margin-right: 0.3em;
    vertical-align: -0.1em;
}

blockquote {
    border-left: 0.3em solid $dark;

    font-style: italic;
    margin-left: 0.2em;
    padding: 0.2em 0 0.3em 1em;
}

blockquote p:first-child {
    margin-top: 0;
}

blockquote p:last-child {
    margin-bottom: 0;
}

pre {
    margin: 0 0 1em 0;
}

pre,
code,
pre code,
textarea.pubkey {
    font-size: 0.8em;
}

pre {
    border: 1px dotted $darker;
    padding: 0.4em 0.6em;
    overflow: auto;
    border-radius: 0.3em;
    tab-size: 4;
}

pre::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
    height: 7px;
}

pre::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: $darkest50;
}

dl.key-value-table {
    display: grid;
    grid-template-columns: 1em auto;
    gap: 0 0.5em;
    grid-auto-rows: auto;
}

dl.key-value-table dt {
    grid-column-start: 1;
}

dl.key-value-table dd {
    grid-column-start: 2;
    margin-inline-start: 0px;

    /*
        long elements, like a tag with long non-breaking space, stretch the dd
        element past side of page.
    */
    overflow: hidden;
}

dl.key-value-twoline dt {
    color: $dark;
}

dl.key-value-twoline dd {
    margin-inline-start: 0px;
    margin-bottom: 0.5em;
}

dd a.extlink {
    /* contrain .extlink to it's container size. This is to avoid long links from stretching the containing elements */
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    white-space: nowrap;
}

.image-gallery {
    --image-gallery-column-gap: 0.5em;
    // columns: 3 220px;
    // column-gap: var(--image-gallery-column-gap);

    gap: var(--image-gallery-column-gap);
    display: grid;
    // grid-template-columns: repeat(3, calc(33vw - var(--image-gallery-column-gap)));
    --gallery-min-image-width: 350px;
    grid-template-columns: repeat(
        auto-fit,
        minmax(var(--gallery-min-image-width), 1fr)
    );
    grid-auto-rows: calc(var(--gallery-min-image-width) / 1.333);
    grid-auto-flow: dense;
}

.image-gallery .image-item {
    position: relative;
    overflow: hidden;
}

.image-gallery .image-item[data-width-m="2"] {
    grid-column: span 2;
}

.image-gallery .image-item[data-width-m="3"] {
    grid-column: span 3;
}

.image-gallery .image-item[data-height-m="2"] {
    grid-row: span 2;
}

.image-gallery .image-item[data-height-m="3"] {
    grid-row: span 3;
}

@media only screen and (max-width: calc(var(--gallery-min-image-width) * 2)) {
    .image-gallery .image-item[data-width-m] {
        grid-column: initial;
    }

    .image-gallery .image-item[data-height-m] {
        grid-row: initial;
    }
}

.image-gallery:after {
    content: "";
    flex-grow: 10;
}

.image-gallery .image-item img {
    width: inherit;
    vertical-align: bottom;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.image-gallery .image-item figcaption {
    opacity: 0;
    padding: 10px;
    position: absolute;
    bottom: 0;
    color: $lightest;
    background-color: $link;

    font-style: normal;
}

.image-gallery .image-item:hover figcaption {
    opacity: 1;
}

.taxonomy-term-list.taxonomy-albums .image-item figcaption {
    opacity: 1;
}

.taxonomy-term-list.taxonomy-albums .image-item:hover figcaption {
    opacity: 1;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect($darkest, 0);
    border: 0;
}

.hex-string .word {
    margin-right: 0.3em;
}

#taxonomy-list ul.taxonomy-term-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

#taxonomy-list ul.taxonomy-term-list.taxonomy-tags {
    justify-content: center;
    line-height: 1.2em;
}

#taxonomy-list ul.taxonomy-term-list li {
    display: block;
    padding: 0.25em 0.25em;
    text-decoration: none;
}

#taxonomy-list ul.taxonomy-term-list.taxonomy-tags a[data-weight="1"] {
    font-size: 1em;
}

#taxonomy-list ul.taxonomy-term-list.taxonomy-tags a[data-weight="2"] {
    font-size: 1.13em;
}

#taxonomy-list ul.taxonomy-term-list.taxonomy-tags a[data-weight="3"] {
    font-size: 1.28em;
}

#taxonomy-list ul.taxonomy-term-list.taxonomy-tags a[data-weight="4"] {
    font-size: 1.45em;
}

#taxonomy-list ul.taxonomy-term-list.taxonomy-tags a[data-weight="5"] {
    font-size: 1.64em;
}

#taxonomy-list ul.taxonomy-term-list.taxonomy-tags a[data-weight="6"] {
    font-size: 1.85em;
}

#taxonomy-list ul.taxonomy-term-list.taxonomy-tags a[data-weight="7"] {
    font-size: 2.1em;
}

#taxonomy-list ul.taxonomy-term-list.taxonomy-tags a[data-weight="8"] {
    font-size: 2.37em;
}

#taxonomy-list ul.taxonomy-term-list.taxonomy-tags a[data-weight="9"] {
    font-size: 2.68em;
}

#taxonomy-list ul.taxonomy-term-list.taxonomy-tags a[data-weight="10"] {
    font-size: 3em;
}

ul.photo-exposure-details,
#single-photo ul.taxonomy-term-list.taxonomy-tags {
    display: flex;
    flex-wrap: wrap;
    // align-items: center;
}

ul.photo-exposure-details li.photo-exposure,
#single-photo ul.taxonomy-term-list li {
    padding: 0 0.25em;
}

#single-photo ul.taxonomy-term-list.taxonomy-tags li {
    font-size: 0.8em;
    border: 1px solid $link;
    border-radius: 0.3em;
    margin-right: 0.1em;
    margin-bottom: 0.1em;
}

#single-photo ul.taxonomy-term-list.taxonomy-tags li:hover {
    background-color: $link30;
}

#single-photo ul.taxonomy-term-list.taxonomy-tags li a {
    color: inherit;
    text-decoration: none;
}

#about .sidebar .name {
    font-size: 1.3em;
    display: block;
    color: $dark;
    text-decoration: none;
}

#about .sidebar .tag {
    display: block;
    font-style: italic;
    margin-top: -1.8em;
}

#about .sidebar .social a {
    color: inherit;
}

#about .sidebar .social {
    font-size: 0.8em;
}
