$icomoon-font-family: "Linearicons-subset" !default;
$icomoon-font-path: "fonts" !default;

$icon-MJ: unquote('"\\e908"');
$icon-rss: unquote('"\\e907"');
$icon-github: unquote('"\\e900"');
$icon-mastodon: unquote('"\\e906"');
$icon-network: unquote('"\\e886"');
$icon-key: unquote('"\\e66e"');
$icon-file-lock: unquote('"\\e6b6"');
$icon-envelope: unquote('"\\e696"');
$icon-user: unquote('"\\e71e"');
$icon-clock3: unquote('"\\e8e8"');
$icon-calendar-empty: unquote('"\\e785"');
$icon-calendar-31: unquote('"\\e788"');
$icon-calendar-full: unquote('"\\e789"');
$icon-bookmark2: unquote('"\\e716"');
$icon-launch: unquote('"\\e7b0"');
$icon-share2: unquote('"\\e920"');
$icon-satellite2: unquote('"\\e8ca"');
$icon-magnifier: unquote('"\\e922"');
$icon-sun-small: unquote('"\\e646"');
$icon-moon: unquote('"\\e649"');
$icon-cog: unquote('"\\e672"');
$icon-hdd-down: unquote('"\\e6ac"');
$icon-hdd-up: unquote('"\\e6ad"');
$icon-download2: unquote('"\\e8f5"');
$icon-upload2: unquote('"\\e901"');
$icon-chevron-up: unquote('"\\e902"');
$icon-chevron-down: unquote('"\\e903"');
$icon-chevron-left: unquote('"\\e93b"');
$icon-chevron-right: unquote('"\\e93c"');
$icon-chevron-up-circle: unquote('"\\e904"');
$icon-chevron-down-circle: unquote('"\\e905"');
$icon-chevron-left-circle: unquote('"\\e964"');
$icon-chevron-right-circle: unquote('"\\e965"');
$icon-ellipsis: unquote('"\\e9e9"');
$icon-equalizer: unquote('"\\e6f2"');
$icon-menu: unquote('"\\e92b"');
$icon-cross: unquote('"\\e92a"');
$icon-box: unquote('"\\e69f"');
$icon-drawers3: unquote('"\\e6a4"');
$icon-library: unquote('"\\e718"');
$icon-earth: unquote('"\\e884"');
$icon-enter-down: unquote('"\\e8f8"');
$icon-pushpin: unquote('"\\e778"');
$icon-pushpin2: unquote('"\\e779"');
$icon-map-marker: unquote('"\\e77a"');
$icon-tag: unquote('"\\e755"');
$icon-tags: unquote('"\\e756"');
$icon-pictures: unquote('"\\e711"');
$icon-camera2: unquote('"\\e704"');
$icon-shutter: unquote('"\\e708"');
$icon-flare: unquote('"\\e70b"');
$icon-time-lapse2: unquote('"\\e707"');
$icon-film2: unquote('"\\e6fc"');
$icon-power1: unquote('"\\e7bb"');
$icon-power-crossed1: unquote('"\\e7bc"');

